<div>
<p> <strong><%= comentario.nombre %></strong> </p>
<p> <%= comentario.texto %> </p>
<p> Creado el <%= comentario.created_at.strftime("%d-%m-%Y")%> </p>

<%= button_to "Eliminar", [comentario.articulo, comentario], method: :delete, data: { confirm: '¿Quieres eliminar el comentario?' } %>

</div>