<div id="<%= dom_id medical_record %>">
  <p>
    <strong>Patology:</strong>
    <%= medical_record.patology %>
  </p>

  <p>
    <strong>Habits:</strong>
    <%= medical_record.habits %>
  </p>

  <p>
    <strong>Current state:</strong>
    <%= medical_record.current_state %>
  </p>

</div>
