<footer id="footer">
  <div class="row text-center">
  <div class= "col-12 col-lg" style="background-color: lavender">
  <%= link_to "privacidad", statics_privacy_path, class: "nombreDeClase", target: "_blank" %>
  </div>
  </div>
</footer>

 