<div class="container">
<h1 class="text-center">QUIENES SOMOS</h1>
<div class="card bg-dark text-white">
  <%= image_tag("princesa.jpg", alt: "prin", class: "card-img") %>
</div>
<p class="text-center font-weight-bolder">Aqui un titulo que se me ocurrira</p>
<p class="font-weight-normal">lore impus lore impus lore impus lore impus lore impus lore impus 
lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus 
lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus 
lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus 
lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus 
lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus 
lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus lore impus</p>

<p class="font-italic">Italic text.</p>
</div>
