
<div class="container mt-5 text-center">
  <h1>Calendario</h1>

  <%= month_calendar(events: @appointments) do |date, appointments| %>
    <%= date.day %>

    <% appointments.each do |appointment| %>
      <div class="event">
        <%= appointment.title %>
        <!-- Puedes mostrar otros detalles del evento aquí -->
      </div>
    <% end %>
  <% end %>
</div>
