<div class="container">
  <div class="title-container">
    <h1>Editar paciente</h1>
  </div>
  <%= render "form", patient: @patient %>

  <%= link_to "Muestra este paciente", @patient %> |
  <%= link_to "Regresa a paciente", patients_path %>
</div>
