<div class="container">
<h1>Editar cita</h1>

<%= render "form", appointment: @appointment %>

  <%= link_to "Muestra esta cita", @appointment %> |
  <%= link_to "Regresa a las citas ", appointments_path %>
</div>
