<div class="container">
  <div class="title-container">
    <h1>Nueva cita</h1>
  </div>

  <%= render "form", appointment: @appointment %>

  <%= link_to "Regresa a citas", appointments_path %>
</div>